@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@400;700&display=swap');

body {
    background: #fff;
    font-family: 'Quicksand', sans-serif;

    background-image: url(backgrounds/3.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Abril Fatface', serif;
    text-align: center;
}

.contactez-nous {
    margin: auto;
    width: 75vh;
    border-radius: 15px;
    border: 2px solid black;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 2px 2px 0px black;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    }

label, input {
    margin-bottom: 4%;
    width: 50%;
}

label {
    font-weight: 900;
}

button {
    margin-top: 4%;
}

select {
    margin-bottom: 2%;
}

textarea {
    width: 100%;
    height: 15ch;
}

/* Responsive pour les téléphones */
@media (max-width: 768px) {
    .contactez-nous {
    margin: auto;
    width: 90%;
    padding-right: 4%;
    }
}

/*--------------Header---------------*/
/* Menu déroulant*/
header{
    background-image: url(images/marseille-port.1558328.jpg);
    display: flex; 
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header input{
    height: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.menu img{
    width: 50px;
}

.menu {
	text-align: center;
	margin: 0px;
	background-color: rgb(255, 255, 255);
    width: 30%;
}

.menu a {
	font-size: 22px;
	padding: 5px;
	text-decoration: none;
	color: #ffffff;
}

.menu a:hover {
	color: white;
	background-color: dimgray;
	transition: 0.5s;
}

.menu h1{
    font-size: 3em;
}

.menu label,
.menu input {
    display: block;
}

.menu span {
    /* Entête du menu */
    padding: 10px 20px;
    background: #ffffff;
    /* Couleur de l'entête du menu */
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: block;
}

.menu span::after {
    float: right;
    right: 10%;
    content: "+";
}

.slide {
    /* Menu déroulant */
    clear: both;
    padding: 0;
    background-color: #3ba6cc;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

.slide li {
    display: block;
    width: 100%;
    padding: 10px 0px;
}

#touch {
    /* Checkbox invisible */
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 370px;
}

/*-----------fin du header------------*/
/* FOOTER     FOOTER      FOOTER      FOOTER   */

footer {
    background-image: url(image/background\ footer.png);
    background-repeat: no-repeat;
    background-size: cover ;
    width: 100%;
  
    
}

footer h1{
    
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
  
}
.réseauxsociaux img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;

}

#link img{
    width: 50px;
    height: 50px;
}

.réseauxsociaux {
    display: flex;
    justify-content: center;
    padding: 3%;
    
}

#link {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 2% ;
    padding-right: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: white;
  
}

#link a {
    text-decoration: none;
    color: white;
    padding-top: 3%;
}