@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@400;700&display=swap');

body {
    background: #fff;
    font-family: 'Quicksand', sans-serif;

    /* Pour centrer la "boîte" du formulaire */
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 4%;

    background-image: url(backgrounds/3.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Abril Fatface', serif;
    text-align: center;
}

.contactez-nous {
    border-radius: 15px;
    border: 2px solid black;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 2px 2px 0px black;
    background: rgba(255, 255, 255, 0.9);
}

label, input {
    margin-bottom: 4%;
    width: 50%;
}

label {
    font-weight: 900;
}

button {
    margin-top: 4%;
}

select {
    margin-bottom: 2%;
}

textarea {
    width: 100%;
    height: 15ch;
}

/* Reponsive pour les téléphones */
@media (max-width: 768px) {
    body {
    padding-left: 5%;
    padding-right: 5%;
    }
    textarea {
        width: 98%;
    }
}