/*--------------Header---------------*/
/* Menu déroulant*/
header{
    background-image: url(images/marseille-port.1558328.jpg);
    display: flex; 
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header input{
    height: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.menu img{
    width: 50px;
}

.menu {
	text-align: center;
	margin: 0px;
	background-color: rgb(255, 255, 255);
    width: 30%;
}

.menu a {
	font-size: 22px;
	padding: 5px;
	text-decoration: none;
	color: #ffffff;
}

.menu a:hover {
	color: white;
	background-color: dimgray;
	transition: 0.5s;
}

.menu h1{
    font-size: 3em;
}

.menu label,
.menu input {
    display: block;
}

.menu span {
    /* Entête du menu */
    padding: 10px 20px;
    background: #ffffff;
    /* Couleur de l'entête du menu */
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: block;
}

.menu span::after {
    float: right;
    right: 10%;
    content: "+";
}

.slide {
    /* Menu déroulant */
    clear: both;
    padding: 0;
    background-color: #3ba6cc;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

.slide li {
    display: block;
    width: 100%;
    padding: 10px 0px;
}

#touch {
    /* Checkbox invisible */
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 370px;
}

/*-----------fin du header------------*/

/*--------------Footer----------------*/