@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@400;700&display=swap');

* {
  /* Pour que les tailles soient correctes */
  box-sizing: border-box;
}

body {
  /* Pour coller le menu au bord, sans espace */
  margin: 0;
}

.menu {
  /* Pour que le menu reste en place quand on scroll */
  position: fixed;
  /* Pour que le menu ne soit pas sur le texte et que ce dernier puisse être sélectionné */
  width: 0px;
}

main {
  /* Pour que le texte ne soit pas sous le menu */
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}

#hamburger {
  /* Pour que la checkbox ne s'affiche pas */
  display: none;
}

#hamburger-logo {
  /* Pour que le curseur soit un pointeur */
  cursor: pointer;
  background: black;
  width: 200px;
  display: block;
  color: white;
  /* Pour que le menu hamburger s'affiche toujours */
  text-align: right;
  /* Pour que le menu hamburger soit "rangé" par défaut */
  transform: translateX(-168px);
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  background: black;
  overflow: hidden;
  width: 200px;
  /* Pour que les liens soient "rangés" par défaut */
  transform: translateX(-200px);
}

#hamburger-logo,
nav {
  /* Pour qu'il y ait une animation */
  transition: 0.7s;
}

/* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
#hamburger:checked~#hamburger-logo,
#hamburger:checked~nav {
  /* Changement de la position pour afficher les menus */
  transform: translate(0);
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background: #444;
}


.titre-accueil {
  font-family: 'Abril Fatface', serif;
}

.img1 {
  background: url(backgrounds/2.jpg);
  min-height: 100%;
}

.img2 {
  background: url(backgrounds/3.jpg);
  min-height: 50%;
}

.img3 {
  background: url(backgrounds/5.webp);
  min-height: 50%;
}

.img4 {
  background: url(backgrounds/4.webp);
  min-height: 50%;
}

.img1,
.img2,
.img3,
.img4 {
  position: relative;
  opacity: .85;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.article-accueil {
  padding: 45px 240px;
}

.article {
  display: flex;
  flex-direction: row;
  margin-right: 15%;
}

#herofestival img {
  width: 50vh;
  margin-top: 5%;
  margin-bottom: 3%;
}

#jo2024 img {
  margin-top: 40%;
  width: 50vh
}

#tramway img {
  margin-top: 50%;
  width: 50vh;
}

.title {
  position: absolute;
  bottom: 40%;
  font-size: 850%;
  text-shadow: 0 0 15px #000;
  width: 100%;
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
}

.contenu-article-accueil {
  text-align: left;
}

.liste-article-accueil {
  text-align: left;
}

/* Design responsive */
@media (max-width: 768px) {
  .contenu-article-accueil {
    font-size: 90%;
  }

  .article-accueil {

    padding: 25px 40px;
  }

  .img1,
  .img2,
  .img3 {
    min-height: 75%;
  }

  .title {
    font-size: 400%;
  }
}

footer {
  background-image: url(css/images/background\ footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

footer h1 {
  color: white;
  font-size: 30px;
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.réseauxsociaux img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;

}

.réseauxsociaux {
  display: flex;
  justify-content: center;
  padding: 3%;

}

#link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Quicksand', sans-serif;
  color: white;

}

#link a {
  text-decoration: none;
  color: white;
  padding-top: 3%;
}

@media screen and (max-width: 600px) {
  #link a {
    font-size: 10px;
  }
}