footer {
    background-image: url(images/background\ footer.png);
    background-repeat: no-repeat;
    background-size: cover ;
    width: 100%;
  
}

footer h1{
    
    color: white;
    font-size: 30px;
    font-family:'Abril Fatface', serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
  
}
.réseauxsociaux img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;

}

.réseauxsociaux {
    display: flex;
    justify-content: center;
    padding: 3%;
    
}

#link {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 2% ;
    padding-right: 2%;
    font-family: 'Quicksand', sans-serif ;
    color: white;
  
}

#link a {
    text-decoration: none;
    color: white;
    padding-top: 3%;
<<<<<<< HEAD:assets/footer.css
}
=======
}

>>>>>>> erika:footer.css
